<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Page</title>
    <link rel="stylesheet" href="manager.css">
</head>
<body>
    <div class="page1">
        <div class="part1">
            <h2 style="margin-left:30px;"><%=username1 %></h2>
            <div class="content">
                <a href=""><h3>Property Detail</h3></a>
                <a href="add_property"><h3>Add Property</h3></a>
                <a href=""><h3>Report</h3></a>
                <button type="submit">Log Out</button>
            </div>
        </div>
        <div class="part2">
            <div class="title">
                <h1>Ananda Vihar</h1>
            </div>
            <div class="details">
                <div class="property">
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>