<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Page</title>
    <link rel="stylesheet" href="staff.css">
</head>
<body>
    <div class="page1">
        <div class="part1">
            <!-- <h2 style="margin-left:30px;"></h2> -->
            <div class="content">
                <a href="booking"><h3>Book Room</h3></a>
                <a href="cancel_booking"><h3>Cancel Room</h3></a>
                <a href="search"><h3>Search</h3></a>
                <a href="bill"><h3>Bill</h3></a>
                <button type="submit">Log Out</button>
            </div>
        </div>
        <div class="part2">
            <div class="title">
                <h1>Ananda Vihar</h1>
            </div>
            <div class="sliderss">
                
            </div>
            <div class="s-heading1">
                <h2>Luxurious Bedding</h2>
                <p> Provide guests with a plush and comfortable bed featuring high-quality linens, pillows, and mattresses to ensure a restful night's sleep.</p>
            </div>
            <div class="s-heading3">
                <h2>Modern Amenities</h2>
                <p>Equip rooms with modern amenities such as high-speed Wi-Fi, flat-screen TVs with streaming services, and convenient USB charging ports to meet the needs of today's tech-savvy travelers.</p>
            </div>
            <div class="s-heading2">
                <h2>Customized Room Experiences</h2>
                <p>Offer guests the option to customize their room experience based on their preferences. This could include choices such as pillow type room fragrance, preferred snacks or beverages stocked in the minibar, and even personalized decor themes.</p>
            </div>
        </div>
    </div>
    <!-- <script>
        // Define a function to show the alert message
        function showAlert() {
            alert("This is an alert message!");
        }

        // Call the function to show the alert
        showAlert();
    </script> -->
    <% if (typeof message !== 'undefined') { %>
        <script>
            alert("<%= message %>");
        </script>
    <% } %>
    
</body>
</html>
